*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
body{
      height: 100vh;
      background:linear-gradient(180deg ,#dfd7b4,#ceb589);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ////////////////////////////////////////////////////////////////////// */
nav{
      height:11%;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.main{
      background-color: #6D94C5;
      height: 30%;
      width: 100vw;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #CBDCEB;
}
.head{
      background-color: #CBDCEB;
      height: 70%;
      width: 100vw;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      color:#6D94C5;
      border-bottom: 4px solid #6D94C5;
      text-shadow: 1px 1px 2px  #46658b;
}
/* ////////////////////////////////////////////////////////////////////// */
.container{
      display: flex;
      align-items: center;
      justify-content: center;
      height:88% ;
      margin: 0px 10px;
}
.calc{
      height: 500px;
      width: 300px;
      background-color:#CBDCEB ;
      border: 6px solid #6D94C5;
      border-radius: 18px;
      padding: 30px 0px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
}
.calc div{
      font-size: 18px;
      font-weight: 600;
}
.calc h2{
      color: #6e511b;
}
.input{
      height: 25px;
      width: 65px;
      border: 2px solid #46658b;
      padding: 0px 5px;
      background-color:#6D94C5;
      border-radius: 8px;
}
/* //////////////////////////////////////////////////////////////////////// */
.result-div{
      padding: 10px 0px;
      height: 100px;
      width: 80%;
      text-align: center;
}
.result{
      text-align: center;
      margin-top: 10px;
      font-weight: 600;
      font-size: 25px;
}
/* /////////////////////////////////////////////////////////////////////// */
button{
      height: 30px;
      width: 200px;
      background-color: #ceb589;
      border:1px solid #745623;
      border-radius: 10px;
      font-weight: 700;
      margin-top: 30px;
      color: #382a10;
}